/* ContactPage.css */

@keyframes shimmer {
  0%, 100% { opacity: 0.8; }
  50% { opacity: 1; }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

  /* const allPosts = [
    { id: 1, title: 'سفر روسیه برج طلایی', excerpt: 'همراهی تیم اقتصادی خراسان رضوی به همراه استاندار محترم خراسان رضوی و جمعی از مدیران استان و آستان قدس رضوی و حضور در سفارت ایران در روسیه به میزبانی سفیر محترم ایران جناب دکتر جلالی و شرکت در جلسات B TO Bمسکو و بازدید از کارخانه جات صنعتی چلیابینسک با حضور مدیران ارشد روسیه', category: 'رویدادها', author: 'مدیریت برج طلایی', views: 245, img: '../assets/newsPhoto/russia.jpg', featured: true },
    { id: 2, title: 'سفر آلمان برج طلایی', excerpt: 'حضور در نمایشگاه آنوگای آلمان بزرگ ترین نمایشگاه صنایع غذایی جهان به همراه تیم اقتصادی جمهوری اسلامی ایران و گروهی از کارخانه داران کشور عزیزمان ایران', category: 'رویدادها', author: 'مدیریت برج طلایی', views: 263, img: '../assets/newsPhoto/germany.jpg', featured: false },
    { id: 3, title: 'سفر ایتالیا برج طلایی', excerpt: 'حضور در سفارت ایتالیا محضر جناب صبوری سفیر ایران در ایتالیا و هم اندیشی راجع به روابط اقتصادی ایران و ایتالیا با حضور جناب زامپینی رییس اتاق مشترک ایتالیا جناب داگاتا مدیر برند ایتالی بزرگ ترین فروشگاه مواد غذایی جهان و رییس اتاق مشترک ایران و جمعی از فعالان و کارخانه داران ایران', category: 'رویدادها', author: 'مدیریت برج طلایی', views: 189, featured: false },
    { id: 4, title: 'سفر تاجیکستان برج طلایی', excerpt: 'هئیت اعزامی اقتصادی ایران در مئیت شهید جمهور جناب رییسی،شهید امیر عبدالهیان وزیر محترم امور خارجه و وزیر نیرو جناب دکتر محرابیان و حضور در جلسه هم اندیشی اقتصادی در کاخ استقلال تاجیکستان با سخنرانی رییس جمهور ها و وزیران دو کشور و حضور در سفارت جمهوری اسلامی ایران و تبادل نظر جهت تحکیم روابط بین تهران و دوشنبه و بازدید از کارخانه جات و مراکز تجاری تاجیکستان', category: 'رویدادها', author: 'مدیریت برج طلایی', views: 189, img: '../assets/newsPhoto/tajik.jpg', featured: false },

  ]; */